// Gutenberg Stuff
// -
// + + + + + + + + + + 


// Colors

*,
.wp-block-button__link {
		
	&.has-primary-color-background-color {
		background-color: $primary-color;
	}
	&.has-secondary-color-background-color {
		background-color: $secondary-color;
	}
	&.has-white-color-background-color {
		background-color: #fff;
	}
	&.has-black-color-background-color {
		background-color: #303030;
	}
	
	&.has-text-color.has-primary-color-color {
		color: $primary-color;
	}
	&.has-text-color.has-secondary-color-color {
		color: $secondary-color;
	}
	&.has-text-color.has-white-color-color {
		color: #fff;
	}
	&.has-text-color.has-black-color-color {
		color: #303030;
	}
}


// Links / Button

.wp-block-button {}
	
.wp-block-button__link {
	@extend .action-btn;
	border-radius: 0;
}


// Text

.has-small-font-size {
	@extend .text-mentions;
}
.has-large-font-size {
	@extend .text-intro;
}


// Columns 

.wp-block-columns {
	display: block;
	
	.wp-block-column {
		width: 100% !important;
		margin: 0;
	}

	@include rwd(medium) {
		display: flex;

		.wp-block-column {
			margin: 0 $grid-padding;

			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		&.columns-2 {
			.wp-block-column {
				width: 50%;
			}
		}
		&.columns-3 {
			.wp-block-column {
				width: 33.3333%;
			}
		}
		&.columns-4 {
			.wp-block-column {
				width: 25%;
			}
		}
	}
}


// Images

.wp-block-image {
	
	& img {
		max-width: none;
	}
	
	&.alignfull {
		width: 100%;
	}	
}


// Quotes

.wp-block-quote {
	margin-bottom: $grid-padding*2 !important;
	
	cite {
		
	}
}


// Files

.wp-block-file {
	
	a:first-child {
		font-family: $font-regular;
		text-decoration: none;
		border-bottom: $secondary-color 2px solid;
		transition: border .2s ease-in-out;
		
		&:hover {
			border-bottom-width: 4px;
		}
		&.focus-visible {
			background-color: $text-color;
			border-bottom-color: $text-color;
			color: #fff;
		}
	}

	a.wp-block-file__button {
		@extend .action-btn;
		border-radius: 0;
		font-size: 1.3rem !important;
	}
	
}



// Table

.wp-block-table {

}


// Gallery /Gut  ** backwards compatibility -webkit- prefix? **

.wp-block-gallery {
	
	.blocks-gallery-image,
	.blocks-gallery-item { 
		figcaption {
			padding: $grid-padding;
		}
	}
	
}  


// ACF Blocks Stuff
// -
// + + + + + + + + + + 


[class*=acf-block--] {

	.acf-block-container {
		width: 100%;
		
		&.center-max {
			padding: $grid-padding;
			margin: 0 auto;
			max-width: $max-width;
		}
	}
}


// Edito

.acf-block--edito {
	
	.edito-content {
		position: relative;
		padding: $grid-padding*2;
		background-color: #fff;
		z-index: 5;
		
		@include rwd(large) {
			padding: $grid-padding*4;
			width: 75%;
			margin: 4.8rem auto 0 auto;
		}
	}
	[class*=edito-picture--] {
		position: absolute;
		display: none;
		@extend figure;
		
		@include rwd(large) {
			display: block;
		}
	}
	@include rwd(large) {
		.edito-picture--left {
			top: 6rem;
			left: 0;
			width: 30rem;
			transform: rotate(-5deg);
			z-index: 1;
		}
		.edito-picture--right {
			top: 8rem;
			right: 0;
			width: 15rem;
			transform: rotate(7deg);
			z-index: 10;
		}
	}
	@include rwd(wide) {
		.edito-picture--left {
			left: -15rem;
		}
		.edito-picture--right {
			right: -5rem;
			width: 20rem;
		}
	}
}

// Text 

.acf-block--text {
	
	.acf-block-text--1col {
		max-width: $max-width-small;;
		margin: 0 auto;
	}
}


// Text+Img

.acf-block--textimg {}


// Gallery 

.acf-block--gallery {}


// CTA

.acf-block--cta {}


// Posts

.acf-block---post {}
.acf-block-post-item {}


