// Common Stuff
// -
// + + + + + + + + + + 


// Structure 

#site_main {
	position: relative;
	z-index: 2;	
}

.page-wrap {
	
	&.has-sidebar {
		@include center();
		
		@include rwd(large) {
			display: flex;
			flex-wrap: wrap;
		}
	}
}

.page-content,
.page-sidebar {
	width: 100%;
}

.page-title {
	//margin: 0 0 $grid-padding 0;
	
	.header-v1 & {
		padding-top: $grid-padding*2;
		font-size: 2.8rem;
		color: #fff;
		
		@include rwd(small) {
			font-size: 3.4rem;
		}
		@include rwd(large) {
			padding-top: 0;
			font-size: 6.4rem;
			line-height: 1.3;
		}
	}
	@include rwd(large) {		
		body:not([class*=home]) .header-v1 & {
			position: absolute;
			width: 66rem;
			top: 50%;
			left: 50%;
			transform: translate(-30%, -50%);
			margin: 0;
		}
	}

	.header-v2 &	,
	.header-v3 & {
		padding-bottom: $grid-padding*3;
		
		&::after {
			content: '';
			display: block;
			width: 50%;
			height: 1px;
			border-top: $text-color 1px dashed;
			position: absolute;
			bottom: 0;
		}			
	}
	
	.search-term {
		font-family: $font-bolditalic;
	}
}

.page-wrap {
	
	body:not([class*=home]):not([class*=maintenance]) & {
		margin-top: $grid-padding*4;
	}
}

.page-content {

	// Centering Blocks and content
	
	& > * {
		width: 100%;
		padding: 0 $grid-padding;
		@include center();
		
		.home & {
			background-color: #fff;
		}
	}
	
	& > p,
	& > ul,
	& > ol,
	& > h1:not([class*=page-title]),
	& > h2,
	& > h3,
	& > h4,	
	& > h5,
	& > h6,
	& > form,
	& > .wpcf7 {
		
		@include rwd(large) {
			@include max-width-small();
		}
	} 
			
	& > *.alignwide {
		max-width: $max-width*1.3;	// 1248px
	}
	& > *.alignfull {
		margin-left: 0;
		margin-right: 0;
		max-width: none;
	}
	
	& > [class*="wp-block-gallery"],
	& > [class*="wp-block-cover-image"],
	& > [class*="wp-block-quote"] {
		@include center();
		margin-bottom: $grid-padding*2;
	}
	& > [class*="wp-block-table"],
	& > [class*="wp-block-verse"] {	
		position: relative;
		margin: $grid-padding*2 auto;
		max-width: calc(#{$max-width} - #{$grid-padding}*2);
	}

	
	@include rwd(large) {
		
		.has-sidebar & {
			width: 70%;
			padding-right: 5%;
		}
	}	
}

.page-sidebar {
	padding: $grid-padding;

	@include rwd(large) {
		
		.has-sidebar & {
			width: 25%;
		}
	}	
}

.coming-back-soon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-position: center center;
	background-size: cover;
	
	.maintenance-message {
		margin: $grid-padding;
		padding: $grid-padding*3;
		background-color: #fff;
	}
}
