/* ------------------------- */
/* = Footer
/* ------------------------- */


#site_foot {
	
}

.footer-widgets {
	width: 100%;
	
	.widgets-area {
		padding: $grid-padding;
		
		@include rwd(medium) {
			flex: 1 0 0;
		}
	}
	
		
	@include rwd(medium) {
		display: flex;		
	}	

}


.footer-content {
	display: flex;
	width: 100%;
	padding: $grid-padding;
}

.footer-copyright {
	margin-bottom: 0;
}

.footer-nav {
	
}
.footer-menu {
	margin: 0;
	
	li {
		display: inline;
		margin: 0 .25em;
	}
}