/* ------------------------- */
/* = Header
/* ------------------------- */


#site_head {
	position: relative;
	background-color: $primary-color;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	// Color Themes
	@include custom-primary(background-color);

	body:not([class*=home]) &::after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-image: linear-gradient(to top, #000 0%, rgba(0,0,0,0) 100%);
		opacity: .5;
		z-index: 1;
	}

	body:not([class*=home]) .header-v1 &::after {
		background-image: linear-gradient(to top, #000 0%, rgba(0,0,0,0) 100%);
	}
	body:not([class*=home]) .header-v2 &::after {
		background-image: linear-gradient(to top, #000 50%, rgba(0,0,0,0) 100%);
		opacity: .6;
	}
	body:not([class*=home]) .header-v3 &::after {
		background-image: linear-gradient(to top, #000 0%, rgba(0,0,0,0) 50%);
		opacity: .6;
	}		
	
			
	& > .row {
		position: relative;
		z-index: 100;
	}	

	.home & {
		min-height: 50vh;
	}
	.page-template-pagecustom-maintenance & {
		height: 100vh;
	}	
}
.header-content {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: #fff;
	
	.header-v1 &::after {
		content: '';
		display: block;
		width: 100%;
		height: 2.4rem;
		position: absolute;
		left: 0;
		bottom: -2.4rem;
		background: url(img/ui/nav-bg.png) center top no-repeat;
		background-size: 100% 100%;
	}
	
	
	@include rwd(large) {
		
		.header-v1 & {
			display: block;
			width: 25%;
			background-color: #fff;
		}
		.header-v2 & {
			flex-direction: row;
			max-width: $max-width;
			margin: 0 auto;
			padding: $grid-padding 0;
			background-color: transparent;
		}
		.header-v3 & {
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			max-width: $max-width;
			margin: 0 auto;
			padding: 0 $grid-padding;
			background-color: transparent;
			
			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				transform: translateY(30%);
				background: url(img/ui/logo-shadow.png) bottom center no-repeat;
				background-size: contain;
				pointer-events: none;
				z-index: -1;
			}
		}
		.home .header-v3 & {
			min-height: 50vh;
		}
	}
	
}



.header-banner {
	width: 100%;
	padding: $grid-padding*4 $grid-padding;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	
	animation: fade-in .3s ease-in-out;
	
	& > * {
		position: relative;
		z-index: 2;
	}
	
	.home & {
		position: absolute;
		top: 0;
		left: 0;		
		height: 60vh;
	}
	.home &::after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-image: linear-gradient(to top, #000 0%, rgba(0,0,0,0) 100%);
		opacity: .5;
		z-index: 1;
	}
	.home .header-v2 &::after {
		opacity: .7;
	}
	
	@include rwd(large) {
		padding: 0;
		
		.home & {
			height: 100vh;			
		}	
		.header-v1 &::after {
			background-image: linear-gradient(to right, #000 0%, rgba(0,0,0,0) 50%);
		}
		.header-v2 &::after {
			background-image: linear-gradient(to bottom, #000 20%, rgba(0,0,0,0) 50%);
		}
		.header-v3 &::after {
			background-image: linear-gradient(to top, #000 20%, rgba(0,0,0,0) 70%);
		}		
	}
}

.site-title {
	display: block;
	margin: 0;
	line-height: 1.2;
	font-size: 2.8rem;
	font-family: $font-bold;
	color: $primary-color;

	// Color Themes
	@include custom-primary(color);
	
	.header-v3 & {
		color: #fff;
		text-align: center;
		font-size: 3.6rem;
		
		@include rwd(large) {
			font-size: 5.8rem;
		}
	}
	
	a,
	img {
		display: block;
		transition: .3s ease-in-out;
	}
	a {
		text-decoration: none;
		
		&:hover,
		&.focus-visible {
			color: $text-color;
			
			.header-v3 & {
				color: $secondary-color;

				// Color Themes
				@include custom-secondary(color);
			}
			
			img {
				opacity: .7;
			}
		}		
	}

	.logo.has-mobile-logo { display: none; }
	.logo-mobile { display: block; }
	
	@include rwd(large) {
		.logo.has-mobile-logo { display: block; }
		.logo-mobile { display: none; }
		
		.sticky-nav & {
			.logo.has-mobile-logo { display: none; }
			.logo-mobile { display: block; }
		}
	}

}

.site-desc {
	display: block;
	margin: 0;
	font-size: 1.8rem;
	line-height: 1.2;

	.header-v3 & {
		color: #fff;
		text-align: center;
		font-size: 2.2rem;		
	}	
}
.site-brand {
	padding: $grid-padding;
}
