/* ------------------------- */
/* = Plugins
/* ------------------------- */



/* ------------------------- */
/* = Misc
/* ------------------------- */

.error-404 {}


// Back to top

#back2top {
	background-color: $primary-color;
	z-index: 200;
	
	// Color Themes
	@include custom-primary(background-color);
	
}



/* ------------------------- */
/* = Helpers
/* ------------------------- */

.screen-reader-text {
	@include a11y-hidden();
}
.out-of-reach {
	display: none;
}

.clearfix {
	clear: both;
	float: none;
}
.floatl {
	float: left;
} 
.floatr {
	float: right;
}

.txtr {
	text-align: right;
} 
.txtl {
	text-align: left;
} 
.txtc {
	text-align: center;
}