// -------------------------
// = Variables
// -------------------------


// Grid Padding & Max Width

$grid-padding: 1rem; 		// @note: The padding gutter! equiv. 10px
$max-width: 96rem;			// @note: 960px
$max-width-small: 66rem;	// @note: 660px

$half-space: calc( (100% - #{$max-width}) /2 + #{$grid-padding} );  // Half the viewport

$border: #fff .8rem solid;
$shadow: 0 2px 4px 0 rgba(0,0,0,.2);

// Break-Points

$width-small: 30em; 		// @note: 480px
$width-medium: 45em;		// @note: 720px
$width-large: 60em; 		// @note: 960px
$width-wide: 75em;	 		// @note: 1200px
$width-xwide: 90em;	 		// @note: 1440px


// -------------
// = Colors
// -------------


// Default - violet

$primary-color: #412F85;
$secondary-color: #FFD910;
$text-color: #283046;
$bg-color: #FFF;

// Palette 2 - winter

$primary-color-2: #116395;
$secondary-color-2: #88FFE8;

// Palette 3 - spring

$primary-color-3: #308619;
$secondary-color-3: $secondary-color;

// Palette 4 - fall

$primary-color-4: #6F4616;
$secondary-color-4: #FA0;

// Palette 5 - summer

$primary-color-5: #D50000;
$secondary-color-5: $secondary-color-4;

// Palette 6 - winyard

$primary-color-6: #A6113B;
$secondary-color-6: #BBEE01;

// Palette 7 - darkpink

$primary-color-7: #283046;
$secondary-color-7: #FF4D73;

// Palette 8 - darkyellow

$primary-color-8: #283046;
$secondary-color-8: #FF0;




