.acf-block--edito {
  position: relative;
  animation: slide-up .5s ease-in-out;
  z-index: 50; }
  .home .page-content > .acf-block--edito {
    background-color: transparent; }
  .acf-block--edito .acf-block-container {
    width: 100%;
    padding: 0 1rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 96rem; }
  .acf-block--edito .edito-content {
    position: relative;
    padding: 2rem;
    background-color: #fff;
    z-index: 5; }
    @media only screen and (min-width: 60em) {
      .acf-block--edito .edito-content {
        padding: 4rem;
        width: 75%;
        margin: 4.8rem auto 0 auto; }
        .header-v3 .acf-block--edito .edito-content {
          margin-top: 2rem; } }
    @media only screen and (min-width: 45em) {
      .acf-block--edito .edito-content.has-single-image {
        padding-right: 24rem; } }
    @media only screen and (min-width: 60em) {
      .acf-block--edito .edito-content.has-single-image {
        padding-right: 16rem; } }
  .acf-block--edito .edito-picture {
    display: none; }
    @media only screen and (min-width: 45em) {
      .acf-block--edito .edito-picture {
        display: block;
        position: absolute;
        top: 4rem;
        right: 2rem;
        z-index: 5; }
        .acf-block--edito .edito-picture img {
          border-radius: 50%;
          border: #fff 0.8rem solid;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
          width: 22rem; } }
  .acf-block--edito [class*=edito-picture--] {
    position: absolute;
    display: none; }
    .acf-block--edito [class*=edito-picture--] img {
      border: #fff 0.8rem solid;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }
    @media only screen and (min-width: 60em) {
      .acf-block--edito [class*=edito-picture--] {
        display: block; } }
  @media only screen and (min-width: 60em) {
    .acf-block--edito .edito-picture--left {
      top: 6rem;
      left: 0;
      width: 30rem;
      transform: rotate(-5deg);
      z-index: 1;
      animation: left-img 1s ease-in-out; }
    .acf-block--edito .edito-picture--right {
      top: 8rem;
      right: 0;
      width: 15rem;
      transform: rotate(7deg);
      z-index: 10;
      animation: right-img 1s ease-in-out; } }
  @media only screen and (min-width: 75em) {
    .acf-block--edito .edito-picture--left {
      left: -15rem; }
    .acf-block--edito .edito-picture--right {
      right: -5rem;
      width: 20rem; } }
@keyframes left-img {
  0% {
    transform: rotate(0deg) translateY(-4rem); }
  100% {
    transform: rotate(-5deg) translateY(0); } }

@keyframes right-img {
  0% {
    transform: rotate(0deg) translateY(4rem); }
  100% {
    transform: rotate(7deg) translateY(0); } }
