// Custom Block
// -
// + + + + + + + + + + 

@import '../../../sass/variables.scss';
@import '../../../sass/mixins.scss';

.acf-block--edito {
	position: relative;
	animation: slide-up .5s ease-in-out;	
	z-index: 50;
	
	.home .page-content > & {
		background-color: transparent;
	}
		
	.acf-block-container {
		width: 100%;
		padding: 0 $grid-padding;
		@include center();
	}
	
	.edito-content {
		position: relative;
		padding: $grid-padding*2;
		background-color: #fff;
		z-index: 5;
		
		@include rwd(large) {
			padding: $grid-padding*4;
			width: 75%;
			margin: 4.8rem auto 0 auto;
			
			.header-v3 & {
				margin-top: $grid-padding*2;
			}
		}
	}
	[class*=edito-picture--] {
		position: absolute;
		display: none;
				
		img {
			border: $border;
			box-shadow: $shadow;
		}
		
		@include rwd(large) {
			display: block;
		}
	}

	@include rwd(large) {
		.edito-picture--left {
			top: 6rem;
			left: 0;
			width: 30rem;
			transform: rotate(-5deg);
			z-index: 1;			
			animation: left-img 1s ease-in-out;
		}
		.edito-picture--right {
			top: 8rem;
			right: 0;
			width: 15rem;
			transform: rotate(7deg);
			z-index: 10;
			animation: right-img 1s ease-in-out;
		}
	}
	@include rwd(wide) {
		.edito-picture--left {
			left: -15rem;
		}
		.edito-picture--right {
			right: -5rem;
			width: 20rem;
		}
	}
}

@keyframes left-img {
	0% {
		transform: rotate(0deg) translateY(-4rem);;
	}
	100% {
		transform: rotate(-5deg) translateY(0);
	}
}
@keyframes right-img {
	0% {
		transform: rotate(0deg) translateY(4rem);;
	}
	100% {
		transform: rotate(7deg) translateY(0);
	}
}